
html{
  height: 100%;
  /* border: #63d471 2px solid; */
}

body{
  height: 100%;
  /* border: #d463b2 5px solid; */
}

.App {
  
  /* margin-top: 8%;
  text-align: center;
  background: #D3D3D3; */
  /* background-image: linear-gradient(315deg, #63d471 0%, #233329 74%); */
  /* height: 100%;
  width: 35%;
  margin-top: 6%;
  margin-left: 35%;
  padding-left: .5%;
  padding-bottom: 3%;
  box-shadow: 3px 3px 4px 2px #434343; */

  /* font-family: "Futura"; */

  /* border: rgb(0, 0, 0) solid 1px; */

  height: 100%;
  /* border: #1cb8b8 5px solid; */
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  border: rgb(255, 94, 0) solid 2px;
}

.App-link {
  color: #61dafb;
}


.App2{
  margin-top: 8%;
  text-align: center;
  background: #D3D3D3;
  /* background-image: linear-gradient(315deg, #63d471 0%, #233329 74%); */
  height: 100%;
  width: 35%;
  margin-top: 6%;
  margin-left: 35%;
  padding-left: .5%;
  padding-bottom: 3%;
  box-shadow: 3px 3px 4px 2px #434343;

  /* font-family: "Futura"; */

  border: rgb(0, 0, 0) solid 1px;
}

.App3{
  margin-top: 8%;
  text-align: center;
  background: #f8f8ff;
  /* background-image: linear-gradient(315deg, #63d471 0%, #233329 74%); */
  height: 100%;
  width: 35%;
  margin-top: 6%;
  margin-left: 35%;
  padding-left: .5%;
  padding-bottom: 3%;
  box-shadow: 3px 3px 4px 2px #434343;

  /* font-family: "Futura"; */

  border: rgb(0, 0, 0) solid 1px;
}

/* .Head{

  position: relative;
  border: black 1px solid;
  background-image: url("./components/css/firewood.jpg");
  image-rendering: -moz-crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  
} */

img{
  /* image-rendering: -moz-crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated; */
}

.currentDate{
  float: right;
  font-weight: bolder;
  font-size: 18px;
  padding-top: 2%;
  padding-right: 1%;
  color: rgb(87, 48, 48);

}


.currentDate2{

  float: right;
  font-weight: bolder;
  font-size: 18px;
  /* padding-top: 2%;
  padding-right: 1%; */
  color: rgb(87, 48, 48);
  /* border: 1px solid black; */
  padding: 4%;

}

/* .itemLabel{
  font-size: 20px;
  margin-top: 1%;
  position: relative;
  display: inline-block;
  -webkit-text-stroke: 1px grey;
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #d3d3d3 74%);
  box-shadow: 3px 3px 4px 2px #434343;
  
} */

.myInput{
  position: relative;
  display: inline-block;
  margin-left: 1%;
 
}

input[type=text]{
  background-color: lightblue;
  
}

.itemLabel p{
  font-weight:bolder;

}

.Head{
  position: relative;
  /* border: black solid 1px; */
}

.Head h3{
  
padding-left: 4%;
float: left;
color: rgb(87, 48, 48);
font-weight: bolder;
font-size: larger;
margin-left: 5%;
margin-top: 12%;
/* border: black solid 1px; */
width: 30%;


}

.messageExist{
 
  width: 25%;
  border: 1px solid rgb(87, 48, 48);
  border-radius: 50%;
  
}

.order_Section::before{
  content: attr(date-text);
  white-space: pre;

}

.order_Section{

  /* display: block;
  background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);
  width: 50%;
  height: 75%;
  border: rgb(98, 0, 255) solid 2px; */



}

.enterBtn{
  margin-top: 15%;
  margin-left: 29%;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 1%;
  padding-bottom: 1%;
  background-image: linear-gradient(315deg, #7a554a 0%, #5a3830 74%);
  border-radius: 5%;
  box-shadow: 3px 3px 4px 2px #434343;
  font-weight: bolder;
  color: white;
  font-size: 18px;
}

ul{
  list-style: none;
  /* margin-left: 28%; */
  /* border-bottom: red solid 2%; */
  padding: 0%;
}

li{
  /* box-shadow: 3px 3px 4px 4px #434343; */
  border-bottom: 1px solid black;
  width: 100%;
  /* background-color: #eae0c8; */
  /* border-radius: 3%; */
  padding: 0%;
  
}

.orderItemSection{


  height: auto;
  /* border: 1px red solid; */
}
 .produceName{
  /* display: flex;
  flex-direction: row;
  position: absolute;
  font-size: 1.5em;
  font-weight: bolder;
  width: 10%;
  border: purple solid 5px; */
  float: left;
  
} 

.deleteBtn button{
  float:right;
  border: black 1px solid;
  padding-right: 1.4%;
  font-weight: bolder;
  border-radius: 10%;
  background-color: #D2B48C;
  
}

.produceName .codeName{
  display: flex;
  flex-direction: row;
  font-size: 18px;
  padding-left: 25%;
 
}

.vendorName{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  font-size: 18px;
  padding-top: 8%;
}

.numberPicker{
  display: flex;
  margin: 0%;

}

.textBoxPicker{

  margin-left: 2.9%;
  width: 5%;
  padding-right: 4%;
  padding-left: 2%;

 
}

.plusBtn button{
    display: flex;
    flex-direction: row;
    box-shadow: 3px 3px 4px 1px #434343;
    background-color: #D2B48C;
    color: black;
    font-weight: bold;
    margin: 1%;

}

.minusBtn button{
  display: flex;
  box-shadow: 3px 3px 4px 1px #434343;
  padding-right: 25%;
  padding-left:80%;
  background-color: #D2B48C;
  color: black;
  font-weight: bolder;
  width: 300%;
 

}


input{
  box-shadow: 3px 3px 4px 1px #434343;
  text-align: center;

}

.finish{

  background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);
  padding: 2%;
  outline: none;
}

.finish button{
  box-shadow: 3px 3px 4px 1px #434343;
  background-color: #ee6c4d;
  padding: 1%;
  border-radius: 5%;
}



.confirmOrder{
  background-color: #f8f8ff;
  display: flex;
  flex-direction: column;
  padding: 1%;
  padding-right: 4%;
  /* border: 1px solid black; */
  width: 80%;
  margin-top: 7%;
  margin-left: 7%;
  margin-bottom: 15%;
}


.buttonSection{
  margin: 2%;
  margin-top: 6%;
  border: 2px solid black;
  padding: 2%;
  background-image: linear-gradient(315deg, #7a554a 0%, #5a3830 74%);
 
}
.currentConfirmOrder{
    border: 1px solid black;
    padding: 5%;
}

.confirmOrder ul li{
  padding: 2%;
}


.confirmTitle{

  float: left;
  color: rgb(87, 48, 48);
  font-weight: bolder;
  font-size: larger;
  margin-left: 28%;
  /* border: black solid 1px; */

}

.removeSelected{
  outline: none;
  box-shadow: 3px 3px 4px 1px #434343;
  float: right;
  padding: 1% 1%;
  background-color: #D2B48C;
}

.btnSend{
  outline: none;
  width: 8%;
  box-shadow: 3px 3px 4px 1px #434343;
  padding-right: 8%;
  padding-left: 2%;
  margin-left: 6%;
  background-color: #D2B48C;
}

.backButton{
  border: solid black 1px;
  float: left;
  padding: 1%;
  box-shadow: 3px 3px 4px 1px #434343;
  border-radius: 5%;
  background-color: #D2B48C;
  color: black;
 
}



.confirmOrder .btnPrevious{
  box-shadow: 3px 3px 4px 1px #434343;
  width: 8%;
  margin-left: 92%;
  padding: 1% 1%;
}

.check{
  float: right;
}

.check:hover{
  transition: .5s;
  transform: scale(1.5);
}



.currentOrderSection{
  height: 45%;
  width: 95%;
  border: black solid 1px;
  /* padding: 5%; */
  /* padding-bottom: 45%; */
  /* margin-top: 5%; */
  overflow-y: scroll;
  height: 100px;
  background-color: #FFFFFF;
  margin-top: 2%;
  margin-bottom: 10%;
  margin-left: 1.5%;
  padding-top: 8%;
  padding-bottom: 15%;
  

}

.CompleteOrderButton{
 
  border: solid black 1px;
  padding: 1%;
  background-image: linear-gradient(315deg, #7a554a 0%, #5a3830 74%);
  box-shadow: 3px 3px 4px 2px #434343;
  color: white;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* .App {
  width: 90%;
  max-width: 700px;
  margin: 2em auto;
} */
p.lorem-text {
  text-align: justify;
}

.modal-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transform: translateZ(0);
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2.5em 1.5em 1.5em 1.5em;
  background-color: #ffffff;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}



._modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em;
  line-height: 1;
  background: #f6f6f7;
  border: 0;
  box-shadow: 0;
  cursor: pointer;
}

._modal-close-icon {
  width: 25px;
  height: 25px;
  fill: transparent;
  stroke: black;
  stroke-linecap: round;
  stroke-width: 2;
}

.modal-body {
  padding-top: 0.25em;
}
._hide-visual {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.scroll-lock {
  overflow: hidden;
  margin-right: 17px;
}


.triggerBtn button{

  padding: .5%;
  border-radius: 10%;
  outline: none;
  background-color:#D2B48C;
  box-shadow: 3px 3px 4px 2px #434343;
}

   textarea{
     padding-top: 8%;
     padding-bottom: 20%;
     /* margin: 5%; */
     margin-top: 1%;
     margin-right: 4%;
     margin-bottom: 4%;
     width: 95%;
     
   }


   .nameInput{
     margin: 1%;
     padding: .5%;
   }



   .emailInput{
     float: left;
     padding: .5%;
   }

   .subjectInput{
     float: left;
     padding: .5%;
   }

   .message{
     padding: 5%;
   }

   label{
     margin-right: .5%;
   }

/* 
  @media only screen and (min-width: 1018px){
    .enterBtn{

    }
  } */


  @media screen and (min-width: 500px) {
    /* Center the Modal! */
    .modal-area {
      left: 50%;
      top: 50%;
      height: auto;
      transform: translate(-50%, -50%);
      max-width: 30em;
      max-height: calc(100% - 1em);
    }
  }

  @media screen 
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3){

  }